* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "vibrant-display";
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header .logo {
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
  background-color: rgb(0, 0, 0);

  padding: 35px;
  user-select: none;
  color: white;
}
.header .logo span {
  color: red;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bolder;
  box-shadow: 0px 0px 10px white;
  border-radius: 50%;
  padding: 15px;
  background-color: rgb(102, 102, 102);
}
.header .logo img {
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 9px 10px rgb(255, 255, 255);
  margin-left: 300px;
}
.header ul {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 20px rgb(255, 255, 255);
  background-color: black;
  border-radius: 5px;
}
.header ul li {
  padding: 20px;
  letter-spacing: 2px;
  transition: 0.5s;
}
.header ul li a {
  padding: 20px;
  font-weight: bold;
  color: white;
}
.header ul li:hover {
  background-color: rgba(56, 55, 55, 0.877);
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  transition: 0.5s;
}
/* main */
.main {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: black;
  border: 5px solid white;
}
.main img {
  width: 300px;
}
.main h1 {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  padding: 5px;
  letter-spacing: 2px;
  user-select: none;
  border-radius: 5px;
}
.main a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid white;
  margin-bottom: 10px;
  transition: 0.4s;
  border-radius: 5px;
}
.main a:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 20px white;
  transition: 0.4s;
}
.main .sajjad,
.sina,
.sohrab {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
/* footer */
.footer {
  border: 10px solid white;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}
.footer i {
  font-size: 50px;
  padding: 20px;
}
.footer h2 {
  color: white;
  padding: 20px;
}
/* end footer */
